@{
    ViewBag.Title = "Order Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.data != null)
{
    HashSet<Project_Final_NF.Models.ModelViews.OrderView> dt = (HashSet<Project_Final_NF.Models.ModelViews.OrderView>)ViewBag.data;
    <div class="app-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">Order Management</h1>
        </div>

        <div class="products-area-wrapper tableView">
            <!-- Header -->
            <div class="products-header">
                <div class="product-cell">Order ID</div>
                <div class="product-cell">User Name</div>
                <div class="product-cell">Product Name</div>
                <div class="product-cell">Quantity</div>
                <div class="product-cell">Price</div>
                <div class="product-cell">Order Date</div>
                <div class="product-cell status-cell">Status</div>
            </div>

            <!-- Order List -->
            @foreach (Project_Final_NF.Models.ModelViews.OrderView item in dt)
            {
                foreach (var order in item.OrderDetails)
                {
                    <div class="products-row">
                        <div class="product-cell">@item.OrderId</div>
                        <div class="product-cell">@item.UserName</div>
                        <div class="product-cell">@order.ProductName</div>
                        <div class="product-cell">@order.Quantity</div>
                        <div class="product-cell">@order.Price</div>
                        <div class="product-cell">@item.CreateAt</div>
                        <div class="product-cell status-cell">
                            <span class="status active">@item.Status</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

